*{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 0 1rem;
}

h1 {
  margin-top: 1rem;
  text-align: center;
}

.top {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

input {
  border: none;
  outline: none;
  width: 400px;
  padding: 0 0.5rem;
  border-bottom: 1px solid;
}

.add {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.todo {
  position: relative;
  margin-top: 1rem;
  background-color: #000;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 5px;
}

.icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: flex;
  gap: 0.5rem;
}

.icon {
  cursor: pointer;
  font-size: 20px;
}